.nav-item {
    font-family: "poppins", sans-serif;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .nav-item li a:hover {
    color: green;
  }


body {
    background-image: url(images/jordan.jpg);
    background-size: cover;
    background-repeat: no-repeat;

  }

  label{
    color: white;
  }

  .catalogo{
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .footer-section {
    background: #151414;
    position: relative;
    margin-top: 800px;
  }
  .footer-cta {
    border-bottom: 1px solid #373636;
  }

  .footer-content {
    position: relative;
    z-index: 2;
  }
  .footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
  }
  .footer-logo {
    margin-bottom: 30px;
  }
  .footer-logo img {
    max-width: 200px;
  }
  .footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
  }
  .footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
  }
  .footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
  }
  .footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
  }

  .footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
  }
  .footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: green;
  }
  .footer-widget ul li {
    display: inline-block;
    width: 50%;
    margin-bottom: 12px;
  }
  .footer-widget ul li a:hover {
    color: green;
  }
  .footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
  }

  .footer-menu li {
    display: inline-block;
    margin-left: 20px;
  }
  .footer-menu li:hover a {
    color: green;
  }
  .footer-menu li a {
    font-size: 14px;
    color: #878787;
  }


  .informacao{
    margin-top: 500px;
    color: white; 
    margin-left: 40px;
  }
  