@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.nav-item {
  font-family: "poppins", sans-serif;
  margin-top: 10px;
  margin-left: 50px;
}

.nav-item li a:hover {
  color: green;
}
body{
  background-image: url(https://wallpaper.dog/large/17106735.jpg);
 background-repeat: no-repeat;
 background-size: 1650px;
}
.container-forms {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
 

  
}

.form-signup {
    position: absolute;
  max-width: 100px;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  background-color: white;
 
}

.form-login {
    visibility: hidden;
}

.header-login {
  font-size: 28px;
  font-weight: 600;
  color: black;
  text-align: center;
  margin-top: 10px;
  
  
}

form .field {
  position: relative;
  height: 45px;
  width: 100%;
  margin-top: 20px;
  border-radius: 6px;
}
.field input,
.field button {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
}

.field input {
  outline: none;
  padding: 0 15px;
  border: 1px solid #cacaca;
}
.field input:focus {
  border-bottom-width: 2px;
}
.form-link {
  text-align: center;
  margin-top: 10px;
}

.form-link span,
.form-link a {
  font-size: 14px;
  font-weight: 400;
}
.form-link span {
  color: #151414;
}
.forgot-pass {
  text-decoration: none;
}

.fa-eye-slash {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 18px;
  color: lightgray;
  cursor: pointer;
  padding: 5px;
}
.field button {
  background-color: #cacaca;
  transition: all 0.3s ease;
  cursor: pointer;
}

.field button:hover {
  background-color: #7e7e7e;
}
.forgot-pass:hover {
  text-decoration: underline;
}

.signup-link {
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}

.line {
  position: relative;
  height: 1px;
  width: 100%;
  background-color: #d4d4d4;
  margin: 36px 0;
}

.line::before {
  content: "Ou";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: #232836;
  padding: 0 15px;
}

.media-options a {
  display: flex;
  background-color: #d4d4d4;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  padding: 15px;
}

.fa-google {
  margin-right: 10px;
  text-decoration: none;
  color: black;
  background-color: #d4d4d4;
}
a:link {
  text-decoration: none;
}
.span-google {
  text-decoration: none;
  color: black;
  background-color: #d4d4d4;
}

.span-google:hover {
  text-decoration: underline;
}

.img-tipscore {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.form-signup {
  max-width: 430px;
  width: 100%;
  padding: 30px;
  border-radius: 6px;
  background-color:white;
  margin-top: 150px;
}

ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
  margin-top: 150px;
 
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: white;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}

.fa-solid.fa-circle-exclamation {
  margin-left: 20px;
  margin-bottom: 5px;
}
.footer-content {
  position: relative;
  z-index: 2;
  
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}

.facebook-bg {
  background: #3b5998;
}

.twitter-bg {
  background: #55acee;
}
.instagram-bg {
  background: lightpink;
}
.youtube-bg {
  background: red;
}
.tiktok-bg {
  background: black;
}

.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: green;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover {
  color: green;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2e2e2e;
  border: 1px solid #2e2e2e;
  color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: green;
  padding: 13px 20px;
  border: 1px solid green;
  top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area {
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a {
  color: green;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a {
  color: green;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
